body { 
    font-family:serif;
    margin:1em;
    background:#e6eefe;
    background:white url(../img/back.png) repeat-x;
    max-width:100%;
}
.editarea {
    position:absolute;
    left:0px;
    padding:5px 0.5%;
    width:99%;
    border:none;
}
#title {
    top:5px;
    height:20px;
    font-family:monospace;
    font-weight:bold;
}
#content {
    top:40px;
    bottom:0px;
}
#editor-controls h2 {
    display:none;
}
#editor-controls ul {
    position:absolute;
    top:40px;
    right:0;
    padding:2px 4px;
    margin:0;
    list-style:none;
    width:5.4em;
    text-align:right;
    overflow-x:scroll;
    transition:width 100ms;
    -webkit-transition:width 100ms; /* Safari */
}
#editor-controls ul:hover {
    width:10em !important;
}
#editor-controls ul::-webkit-scrollbar { 
    display: none; 
}    
#editor-controls li {
    display:block;
    width:10em;
    margin:4px;
    padding:0 0.5em;
}
#editor-controls button { 
    width:6em;
    padding:0.5em 1em;
    margin:0;
}



/* Here are some other cool CSS tricks too:

.toggle_upload {
    position:absolute;
    top:0.5em;
    right:0.5em;
    text-decoration:none;
    color:red;
    width:3ex;
    text-align:center;
}
.toggle_upload:hover {
    background:red;
    color:white;
}


.description_box {
    padding:0;
    margin-bottom:1em;
    width:100%;
    position:relative;
}
.description_box h4 {
    background:#eee;
    text-align:center;
    margin:0;
    padding:0.5em 0;
    border:1px solid #ccc;
}
.description_box dl {
    padding:0.5em;
    margin:0;
    background:white;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
}



dl.inline dt{
    display:inline;
    margin-right:1ex;
}
dl.inline dt:after {
    content:":";
}
dl.inline dd {
    display:inline;
    margin-left:0;
}
dl.inline dd:after {
    content:"\a";
    white-space: pre;
}

*/
