/****************/
/* General Tags */
/****************/

body {
    font-family:serif;
    margin:1em;
    background:#e6eefe;
    /* background:white url(../img/back.png) repeat-x; */
    max-width:100%;
}
a {
    color:blue;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
dt {
    font-weight:bold;
}
h2 {
    margin:0 -0.75em;
    padding:0.70em;
    background:#e6eefe;
}
h3 {
}
h4 {
    font-style:italic;
}
table {
    border:1px solid #eee;
}
tr * {
    padding:2px 5px;
}
th {
    background:#eee;
    border:1px solid #ccc;
}
td {
    background:#fff;
    border:1px solid #eee;
}
hr {
    border:0pt;
    background:white url(../img/squig.png) no-repeat;
    height:10px;
}
acronym {
    border-bottom:1px dotted #f00;
}
blockquote, pre, .sidebar {
    padding:0.5em 0.8em;
    margin:1em;
    background-color:#fff;
    border:1px solid #eee;
}
blockquote {
    background-image:url(../img/lq.png);
    background-position:top left;
    background-repeat:no-repeat;
    padding-bottom:1em;
    border:0;
}
.author {
    float:right;
    font-style:italic;
}
pre {
    font-family:monospace;
    overflow:auto;
}
.l { text-align: left; }
.c { text-align: center; }
.r { text-align: right; }

.warning {
    padding:0.5em;
    border:1px solid red;
    background:#fcc;
}

/**************/
/* Containers */
/**************/

#title {
    overflow-x:scroll;
    margin:1.2em 0 0.3em 0;
    }
#title::-webkit-scrollbar {
    display: none;
}
#content {
    overflow-x:hidden;
    position:relative;
    padding:0 1em;
    margin:1em 0;
    border:1px solid white;
    background:#fff;
}
#controls {
    padding:0.5em;
    position:fixed;
    top:0;
    right:0;
    line-height:2em;
    background:#e6eefe;
    border-left:1px solid #fff;
    border-bottom:1px solid #fff;
    text-align:right;
}
#controls h2 {
    display:none;
}
#controls ul {
    padding:0;
    margin:0;
    list-style:none;
}
#controls:hover ul {
    display:block !important;
}
#controls li {
    padding:0;
    margin:0;
}
#controls a {
    padding:0 1em;
    margin:0;
    border:1px solid transparent;
    display:block;
}
#controls a:hover {
    border-left:1px solid #fff;
    border-top:1px solid #fff;
    border-right:1px solid #aaa;
    border-bottom:1px solid #aaa;
    text-decoration:none;
}
#footer {
    clear:both;
    text-align:center;
}

/******************/
/* Docutils stuff */
/******************/

.docutils.footnote {
    width:100%;
}
.docutils.footnote td {
    vertical-align:middle !important;
}
.docutils.literal {
    border:1px solid #ccc;
    background:#eee;
    padding:1px 2px;
}
.docutils.footnote td.label {
    width:2em;
    text-align:center;
    vertical-align:top !important;
}
.admonition {
    padding:0 1em;
    border:1px solid #ccc;
    background:#eee;
    /* background-image:url(../img/ast.png); */
    /* background-position:top=2px left; */
    /* background-repeat:no-repeat; */
}
.admonition-title {
    font-weight:bold;
}

.docutils-extensions.tbl {
    overflow-x:auto;
}


.docutils-extensions.tbl table {
    padding:1em;
    background:#fff;
    border:1px solid #ccc;
    margin:1em auto;
}
.docutils-extensions.tbl table * {
    background:white;
}
.docutils-extensions.tbl table th,td {
    padding:5px 10px;
    text-align:center;
}
.docutils-extensions.tbl table th {
    background:#EEEEEE;
}
.docutils-extensions.tbl table td {
    background:transparent;
}
.docutils-extensions.tbl table td * {
    background:transparent
}
.docutils-extensions.tbl table input[type="text"] {
    border:0;
    text-align:center;
    background:transparent
}
.docutils-extensions.tbl table tr:hover {
    background:#f6f6f6;
}
.docutils-extensions.tbl caption {
    background:#eee;
    border:1px solid #ccc;
    border-bottom:none;
    font-style:italic;
    padding:5px 10px;
}
.docutils-extensions.fig {
    padding:1em;
    background:#fff;
    border:1px solid #ccc;
    margin:1em auto;
    text-align:center;
}
.docutils-extensions.fig p {
    margin-bottom:0;
}
.docutils-extensions img,
.docutils-extensions video
 {
    max-width:100%;
    height:auto;
    -ms-interpolation-mode: bicubic;
}

/*****************/
/* Special media */
/*****************/

@media screen and (min-width:960px) {
/* TABLET or SCREEN */
    #side-content {
        float:right;
        margin:1em 0 1em 1em;
        max-width:45%;
    }
}
