/********************/
/*** General Tags ***/
/********************/

body { 
    font-family:serif;
    margin:1em;
    background:#e6eefe;
    background:white url(../img/back.png) repeat-x;
    max-width:100%;
}
a { 
    color:blue; 
    text-decoration:none; 
}    
a:hover { 
    text-decoration:underline;
}
h2 { 
    margin:0 -0.75em;
    padding:0.70em;
    background:#e6eefe; 
}
h3 {
}
h4 { font-style:italic;}table {
    border:1px solid #eee;
}
td {
    padding:2px;
    border:1px solid #eee;
}
hr {
    border:0pt;
    background:white url(../img/squig.png) no-repeat;
    height:10px;
}
acronym { 
    border-bottom:1px dotted #f00; 
}
blockquote, pre, .sidebar {
    padding:0.5em 0.8em;
    margin:1em;
    background-color:#fff;
    border:1px solid #eee;
}
blockquote {
    background-image:url(../img/lq.png);
    background-position:top left;
    background-repeat:no-repeat;
    padding-bottom:1em;
    border:0;
/*    border-top:0; */
/*    border-left:0; */
/*    -moz-border-radius:9px; */
}.author {
    float:right;
    font-style:italic;
}
pre {
    font-family:monospace;
    overflow:auto;
}
.l { text-align: left; }
.c { text-align: center; }
.r { text-align: right; }

/******************/
/*** Containers ***/
/******************/

#title { 
    overflow-x:scroll;
    margin:1.2em 0 0.3em 0;
    }#title::-webkit-scrollbar { 
    display: none; 
}    

#content { 
    overflow-x:hidden;
    position:relative;
    padding:0 1em;
    margin:1em 0;
    border:1px solid white; 
    background:#fff;
}
#controls { 
    padding:0.5em;
    position:fixed;
    top:0;
    right:0;
    line-height:2em;
    background:#e6eefe;
    border-left:1px solid #fff;
    border-bottom:1px solid #fff;
    text-align:right;
}
#controls h2 {
    display:none;
}
#controls ul {
    padding:0;
    margin:0;
    list-style:none; 
}
#controls:hover ul {
    display:block !important;
}
#controls li { 
    padding:0;
    margin:0;
} 
#controls a { 
    padding:0 1em;
    margin:0;
    border:1px solid transparent; 
    display:block;
}
#controls a:hover { 
    border-left:1px solid #fff;
    border-top:1px solid #fff;
    border-right:1px solid #aaa;
    border-bottom:1px solid #aaa;
    text-decoration:none;
}
#footer {
    clear:both;
    text-align:center;
}

/********************/
/* Mobile specifics */
/********************/

@media screen and (min-width:960px) {
/* TABLET or SCREEN */
    .my-docutils.side {
        float:right;
        margin:1em 0 1em 1em;
        max-width:45%;
    }
}

