/****************/
/* General Tags */
/****************/

body {
    font-family:serif;
    margin:1em;
    background:#e6eefe;
    /* background:white url(../img/back.png) repeat-x; */
    max-width:100%;
}
a {
    color:blue;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
dt {
    font-weight:bold;
}
h2 {
    margin:0 -0.75em;
    padding:0.70em;
    background:#e6eefe;
}
h3 {
}
h4 {
    font-style:italic;
}
table {
    border:1px solid #eee;
}
tr * {
    padding:2px 5px;
}
th {
    background:#eee;
    border:1px solid #ccc;
}
td {
    background:#fff;
    border:1px solid #eee;
}
hr {
    border:0pt;
    background:white url(../img/squig.png) no-repeat;
    height:10px;
}
acronym {
    border-bottom:1px dotted #f00;
}
blockquote, pre, .sidebar {
    padding:0.5em 0.8em;
    margin:1em;
    background-color:#fff;
    border:1px solid #eee;
}
blockquote {
    background-image:url(../img/lq.png);
    background-position:top left;
    background-repeat:no-repeat;
    padding-bottom:1em;
    border:0;
}
.author {
    float:right;
    font-style:italic;
}
pre {
    font-family:monospace;
    overflow:auto;
}
button[type="submit"] {
    padding:0.5em 1em;
}

.l { text-align: left; }
.c { text-align: center; }
.r { text-align: right; }

.warning {
    margin:1em 0;
    padding:1em;
    border:1px dotted red;
    background:#fee;
}
.warning h4 {
    margin:0;
    color:red;
}

.form-list {
    line-height:1.5em;
}
.form-list dt {
    margin:1em 0 0 0;
}
.form-list dd {
    margin:0 0 1em 0;
}
.form-list dd input {
    line-hei ght:1.5em;
    padding:0.5em;
}

/**************/
/* Containers */
/**************/

#title {
    overflow-x:scroll;
    margin:1.2em 0 0.3em 0;
    }
#title::-webkit-scrollbar {
    display: none;
}
#content {
    overflow-x:hidden;
    position:relative;
    padding:0 1em;
    margin:1em 0;
    border:1px solid white;
    background:#fff;
}
#controls {
    padding:0;
    position:fixed;
    top:0;
    right:0;
    line-height:2em;
    background:white;
    text-align:center;
}
#controls h2 {
    margin:0;
    padding:0 0.45em;
    border:1px solid transparent;
    color:blue;
    display:block;
    font-size:1.2em;
    font-weight:normal;
    cursor:pointer;
}
#controls ul {
    padding:0;
    margin:0;
    list-style:none;
}
#controls li {
    padding:0;
    margin:0;
    border-top:1px dotted blue;
}
#controls a {
    padding:0.5em 1em;
    margin:0;
    border:1px solid transparent;
    display:block;
    text-decoration:none;
}
#footer {
    clear:both;
    text-align:center;
}

.related-pages ul {
    list-style:none;
    padding-left:0;
    margin:0;
    display:inline-block;
}
.related-pages a,
.related-pages span {
    padding:0.5em;
    margin-bottom:3px;
    display:block;
}
.related-pages a {
    border:1px solid blue;
}
.related-pages span {
    border:1px dashed black;
}

.parent-link {
    padding:0.5em;
    border:1px solid blue;
    display:inline-block;
}

.related-pages a:hover,
.parent-link:hover {
    text-decoration:none;
    background:white;
}

table.series-links {
    border-spacing:0;
    border:none;
}
table.series-links td {
    background:transparent;
    border:none;
    padding:0;
}


/******************/
/* Docutils stuff */
/******************/

.docutils.footnote {
    width:100%;
    margin-bottom:1em;
}
.docutils.footnote td {
    vertical-align:middle !important;
    text-align:left;
}
.docutils.literal {
    border:1px solid #ccc;
    background:#eee;
    padding:1px 2px;
}
.docutils.footnote td.label {
    width:2em;
    text-align:center;
    vertical-align:top !important;
}
.admonition {
    padding:0 1em;
    margin:1em 0;
    border:1px solid #ccc;
    background:#eee;
    /* background-image:url(../img/ast.png); */
    /* background-position:top=2px left; */
    /* background-repeat:no-repeat; */
}
.admonition-title {
    font-weight:bold;
}

.docutils-extensions.tbl {
    overflow-x:auto;
    padding:1em;
    background:#fff;
    border:1px solid #ccc;
    margin:1em auto;
    text-align:center;
}
.docutils-extensions.tbl table {
    margin:0 auto;
    border:none;
}
.docutils-extensions.tbl table caption {
    font-style:italic;
    margin-top:1em;
    caption-side:bottom;
}
.docutils-extensions.tbl table * {
    background:white;
}
.docutils-extensions.tbl table th,td {
    padding:5px 10px;
    text-align:center;
}
.docutils-extensions.tbl table th {
    background:#eee;
}
.docutils-extensions.tbl table td {
    background:transparent;
}
.docutils-extensions.tbl table td * {
    background:transparent
}
.docutils-extensions.tbl table input[type="text"] {
    border:0;
    text-align:center;
    background:transparent
}
.docutils-extensions.tbl table tr:hover {
    background:#f6f6f6;
}

.docutils-extensions.fig {
    padding:1em;
    background:#fff;
    border:1px solid #ccc;
    margin:1em auto;
    text-align:center;
}
.docutils-extensions.fig p {
    font-style:italic;
    margin-bottom:0;
}

.docutils-extensions img,
.docutils-extensions video
 {
    max-width:100%;
    vertical-align:bottom;
    height:auto;
    -ms-interpolation-mode: bicubic;
}

/*****************/
/* Special media */
/*****************/

@media screen and (min-width:960px) {
/* TABLET or SCREEN */
    #side-content {
        float:right;
        margin:1em 0 1em 1em;
        max-width:45%;
    }
}
