<!doctype html>
<html class="no-js" lang="en">
<head>

    <meta charset="utf-8">
    
    <title>{% block page-title %}{% endblock %}</title>
    
    <meta name="title" content="{% block meta_title %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
	<meta name="viewport" content="width=device-width,initial-scale=1"> 

    {% block html-head %}{% endblock %}
    
</head>
<body onLoad="FindFocus();">
    <div id="main">
        {% block main-content %}
        {% endblock %}
    </div>
    
    <div id="side">
        {% block side-content %}
        {% endblock %}
    </div>
    
    <footer>
        {% block footer %}{% endblock %}
    </footer>
</body>
</html>
