{% extends "wiki/base.html" %}

{% block extra-script %}
$(document).keydown(function(e) {
    var keycode = e.which || e.keyCode;
    var key = String.fromCharCode(keycode).toLowerCase()

    if (key == 'l' && e.ctrlKey)
    {
        {% if user.is_authenticated %}
        location.href='{% url wiki_logout %}?next={% url wiki_show page %}';
        {% else %}
        location.href='{% url wiki_login %}?next={% url wiki_show page %}';
        {% endif %}
        e.preventDefault();
    }
});
{% endblock %}

{% block main-content %}
<h1 id="title">WikiRoot</h1>
<div id="content">
    <ul>
        {% for page in root.children.dirs %}
        <li>» <a href="{% url wiki_show page %}">{{ page }}</a></li>
        {% endfor %}
    </ul>
    <ul>
        {% for page in root.children.files %}
        <li><a href="{% url wiki_show page %}">{{ page }}</a></li>
        {% endfor %}
    </ul>
</div>

<div id="controls" class="noprint">
    <h2>Page Controls</h2>
    <ul id="control_list">
        {% if user.is_staff %}
        <li><a href="{% url wiki_logout %}?next={% url wiki_root %}">Logout</a></li>
        {% else %}
        <li><a href="{% url wiki_login %}?next={% url wiki_root %}">Login</a></li>
        {% endif %}
        {% if user.is_staff %}
        <li><a href="{% url wiki_edit_new %}">New Page</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
