{% extends "wiki/base.html" %}
{% load restructuredtext_tags %}

{% block extra-script %}
$(document).keydown(function(e) {
    var keycode = e.which || e.keyCode;
    var key = String.fromCharCode(keycode).toLowerCase()

    {% if user.is_authenticated %}
    if (key == 'e' && e.ctrlKey)
    {
        location.href='{% url wiki_edit page %}';
        e.preventDefault();
    }
    {% endif %}
    if (key == 'p' && e.ctrlKey)
    {
        window.print()
        e.preventDefault();
    }
    if (key == 'l' && e.ctrlKey)
    {
        {% if user.is_authenticated %}
        location.href='{% url wiki_logout %}?next={% url wiki_show page %}';
        {% else %}
        location.href='{% url wiki_login %}?next={% url wiki_show page %}';
        {% endif %}
        e.preventDefault();
    }
});
{% endblock %}

{% block main-content %}
<div{% if user.is_staff %} ondblclick="location.href='{% url wiki_edit page %}';"{% endif %}>
    <h1 id="title">{{ page.title }}</h1>
    <div id="content">
    {% if page.parent %}
    <p>Up to: <a href="{% url wiki_show page.parent %}">{{ page.parent.title }}</a></p>
    {% endif %}
    {% if page.content %}
    {{ page.content|rst2html }}
    {% else %}
    {% if page.children.dirs %}
    <ul>
        {% for page in page.children.dirs %}
        <li>» <a href="{% url wiki_show page %}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if page.children.files %}
    <ul>
        {% for page in page.children.files %}
        <li><a href="{% url wiki_show page %}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endif %}
    </div>
</div>

{% if page.content %}
{% if page.children or page.series %}
<div id="related-pages" class="noprint">
    <h2>Related Pages</h2>

    {% if page.children %}
    <p>Down to&hellip;</p>
    {% if page.children.dirs %}
    <ul>
        {% for page in page.children.dirs %}
        <li>» <a href="{% url wiki_show page %}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if page.children.files %}
    <ul>
        {% for page in page.children.files %}
        <li><a href="{% url wiki_show page %}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endif %}

    {% if page.series %}
    <p>In this series&hellip;</p>
    <ul>
        {% for series_page in page.series %}
        {% if series_page.pg == page.pg %}
        <li>{{ series_page.title }} ◂ (you are here)</li>
        {% else %}
        <li><a href="{% url wiki_show series_page %}">{{ series_page.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

</div>
{% endif %}
{% endif %}

<div id="controls" class="noprint">
    <h2>Page Controls</h2>
    <ul id="control_list">
        {% if user.is_authenticated %}
        <li><a href="{% url wiki_logout %}?next={% url wiki_show page %}">Logout</a></li>
        {% else %}
        <li><a href="{% url wiki_login %}?next={% url wiki_show page %}">Login</a></li>
        {% endif %}
        <li><a href="{% url wiki_root %}">WikiRoot</a></li>
        {% if user.is_staff %}
        <li><a href="{% url wiki_edit page %}">Edit Page</a></li>
        {% endif %}
    </ul>
</div>

{% include "wiki/mathjax.html" %}
{% endblock %}
