{% extends "wiki/base.html" %}
{% load restructuredtext_tags %}

{% block extra-script %}
$(document).keydown(function(e) {
    var keycode = e.which || e.keyCode;
    var key = String.fromCharCode(keycode).toLowerCase()

    {% if user.is_authenticated %}
    if (key == 'e' && e.ctrlKey)
    {
        location.href='{% url wiki_edit page %}';
        e.preventDefault();
    }
    {% endif %}
    if (key == 'p' && e.ctrlKey)
    {
        window.print()
        e.preventDefault();
    }
    if (key == 'l' && e.ctrlKey)
    {
        {% if user.is_authenticated %}
        location.href='{% url wiki_logout %}?next={% url wiki_show page %}';
        {% else %}
        location.href='{% url wiki_login %}?next={% url wiki_show page %}';
        {% endif %}
        e.preventDefault();
    }
});
{% endblock %}

{% block main-content %}
<div{% if user.is_staff %} ondblclick="location.href='{% url wiki_edit page %}';"{% endif %}>
    <h1 id="title">{{ page.title }}</h1>

    {% if page.parent %}
    <p>Up to: <a class="parent-link" href="{% url wiki_show page.parent %}">{{ page.parent.title }}</a></p>
    {% endif %}

    {% if page.content %} 
    <div id="content">
    {{ page.content|rst2html }}
    </div>
    {% endif %}
</div>

{% if page.children or page.series or page.siblings %}
<div class="related-pages noprint">
    {% if page.children %}
    <p>Down to&hellip;</p>
    <ul>
        {% for page in page.children %}
        <li><a href="{% url wiki_show page %}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if page.series %}
    <p>In this series&hellip;</p>
    <table class="series-links">
        {% for series_page in page.series %}
        {% if series_page.pg == page.pg %}
        <tr>
            <td><span>{{ series_page.title }}</span></td>
            <td>&nbsp; &larr; You are here</td>
        </tr>
        {% else %}
        <tr>
            <td><a href="{% url wiki_show series_page %}">{{ series_page.title }}</a></td>
            <td></td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% comment %}
    <p>In this series&hellip;</p>
    <ul>
        {% for series_page in page.series %}
        {% if series_page.pg == page.pg %}
        <li><span>{{ series_page.title }}</span></li>
        {% else %}
        <li><a href="{% url wiki_show series_page %}">{{ series_page.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endcomment %}
    {% endif %}

    {% if not page.children and not page.series and page.siblings %}
    <p>Related pages</p>
    <ul>
        {% for sibling_page in page.siblings %}
        <li><a href="{% url wiki_show sibling_page %}">{{ sibling_page.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if page.parent %}
    <p>Back up to...</p>
    <ul>
        <li><a href="{% url wiki_show page.parent %}">{{ page.parent.title }}</a></li>
    </ul>
    {% endif %}

</div>
{% endif %}

<div id="controls" class="noprint">
    <h2>Page Controls</h2>
    <ul id="control-list">
        {% if user.is_authenticated %}
        <li><a href="{% url wiki_logout %}?next={% url wiki_show page %}">Logout</a></li>
        {% else %}
        <li><a href="{% url wiki_login %}?next={% url wiki_show page %}">Login</a></li>
        {% endif %}
        <li><a href="{% url wiki_root %}">WikiRoot</a></li>
        {% if user.is_staff %}
        <li><a href="{% url wiki_edit page %}">Edit Page</a></li>
        {% endif %}
    </ul>
</div>

{% include "wiki/mathjax.html" %}
{% endblock %}
